@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #0c1317;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  /* margin-top: 2em; */
}
h2{
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 900;
  font-family: 'Righteous', sans-serif;
}
button{
  font-family: 'Righteous', sans-serif;
  font-weight: bold;
}
.hero-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.hero-container h1, .hero-container h2{
  text-align: left;
}

.hero-image-container {
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(22, 22, 30, 0.5),
    rgba(22, 22, 30, 0.7),
    rgba(22, 22, 30, 0.7),
    rgba(22, 22, 30, 0.5)   /* Ajusta este valor, por ejemplo, 0.5 para una transparencia más oscura */
  );
  pointer-events: none;
  z-index: 0; /* O cualquier número mayor que cero según tu necesidad */
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
}

h3{
  font-size: x-large;
  font-weight: bold;
  padding:0.5em 2em;
  line-height: 30px;
  font-family: 'Righteous', sans-serif;
}
.swiper-button-prev:after, .swiper-button-next:after{
  color:white;
}
.swiper-pagination-bullet {
  background-color: white !important; /* Cambia el color a blanco o el color deseado */
}
.svg-icon.search-icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  /* On hover: blue strokes */
  &:focus,
  &:hover {
    .search-path {
      stroke: #299ecc;
    }
  }

  /* On click: thicker black strokes  */
  &:active {
    .search-path {
      stroke: #111516;
      stroke-width: 2px;
    }
  }
}

